<ion-content [fullscreen]="true">

  <div id="container">
    <ion-breadcrumbs>
      <ion-breadcrumb href="#home">Home</ion-breadcrumb>
      <ion-breadcrumb href="#aboutus">About Us</ion-breadcrumb>
    </ion-breadcrumbs>
    <div id="content">
      <div id="card">
        <ion-card> 
          <ion-item>
            <ion-icon name="bulb-outline" color="tertiary"></ion-icon>
            <ion-card-header>
              <ion-card-subtitle>GET TO KNOW US MORE</ion-card-subtitle>
              <ion-card-title>About Us</ion-card-title>
            </ion-card-header>
          </ion-item>
          <ion-card-content>
            Start Up aims to aid novices on how to start and run a legal business.
            We want to help you begin your venture to the business world. 
            Opening a business is not an easy task to achieve.
            There are different processes and requirements along the way and we are here to guide you.
            By providing you basic knowledge about starting a business, you are now one step closer to reach your dreams.
          
            <br><br>
            <center>Want to contact us?</center>
            <ion-button id="btn_contact" slot="end" expand="block" color="tertiary">Contact Us Here</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>

  <!--bottom right corner navigation-->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button [routerLink]="['/home']" data-desc="Home" color="tertiary">
        <ion-icon name="home-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button data-desc="My Account" color="tertiary">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button data-desc="FAQ" color="tertiary" [routerLink] = "['/faqpage']">
        <ion-icon name="people-outline" ></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
</ion-content>

