

    ion-icon {
      font-size: 60px;
      position:center;
      color:black;
    }
  ion-textarea{
    font-size: 10px;
    color:black;
  }
  ion-text{
    color:black;
    font-weight: bolder;
    
  }
  #buttonlogin{
    border:1px black;
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

 ion-content{
    text-align: center;
 }

 ion-breadcrumb{
    color: white;
 }