
<ion-content color="primary">
   <!--Business Trends-->
   <ion-breadcrumbs>
    <ion-breadcrumb href="#home">Home</ion-breadcrumb>
    <ion-breadcrumb href="#business-trends">Business Trends</ion-breadcrumb>
  </ion-breadcrumbs>

   <ion-label>
    <ion-icon name="business-outline"></ion-icon>
    Business Trends
  </ion-label>
  <!--Item 1-->
  <ion-card>
    <ion-item>
      <ion-icon name="game-controller-outline" slot="start"></ion-icon>
      <ion-label>Gaming Technology Business</ion-label>
      <ion-button fill="outline" slot="end" color="tertiary" (click)="toggleContentGame()">Learn More</ion-button>
    </ion-item>
  
    <ion-card-content *ngIf = "showDetails1">
      Gaming Industry has been trendy since this past years, 
      Creating a business on gaming consoles can be....
    </ion-card-content>
    <ion-card-content *ngIf = "showDetails1v2">
      Gaming Industry has been trendy since this past years, 
      Creating a business on gaming consoles can be a huge income such that many individuals are more into gaming industry.
    </ion-card-content>
  </ion-card>

  <!--Item 2-->
  <ion-card>
    <ion-item>
      <ion-icon name="home-outline" slot="start"></ion-icon>
      <ion-label>Real Estate</ion-label>
      <ion-button fill="outline" slot="end" color="tertiary" (click)="toggleContentRealEstate()">Learn More</ion-button>
    </ion-item>
  
    <ion-card-content *ngIf = showDetails2>
      Every year, buildings have their value grow. The reason to this....
    </ion-card-content>
    <ion-card-content *ngIf = showDetails2v2>
      Every year, buildings have their value grow. The reason to this is that the land is becoming more popular on that particular area.
    </ion-card-content>
    
  </ion-card>
  
  <!--Item 3-->
  <ion-card>
    <ion-item>
      <ion-icon name="fast-food-outline" slot="start"></ion-icon>
      <ion-label>Food Business</ion-label>
      <ion-button fill="outline" slot="end" color="tertiary" (click)="toggleContentFood()">Learn More</ion-button>
    </ion-item>
  
    <ion-card-content *ngIf = "showDetails3">
      In this pandemic days, different businesses have emerged and one of them
      is the Food Businesses. This is due to the...
    </ion-card-content>
    <ion-card-content *ngIf = "showDetails3v2">
      In this pandemic days, different businesses have emerged and one of them
      is the Food Businesses. This is due to the trends on how homemad foods are more delicious and it can help
      the owners of the business.
    </ion-card-content>
  </ion-card>


  <!--bottom right corner navigation-->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button data-desc="About Us" color="tertiary" [routerLink] = "['/aboutus']">
        <ion-icon name="people-outline" ></ion-icon>
      </ion-fab-button>
      <ion-fab-button data-desc="FAQ" color="tertiary" [routerLink] = "['/faqpage']">
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button data-desc="My Account" color="tertiary">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
