<ion-content [fullscreen]="true">
  <div id="container">
    <div id="container-top">
    </div>
  </div>
  <div id="content">
    <h1>Let's Start Planning Your Business!</h1>
    <ion-button fill="outline" slot="end" color="light" >View All >></ion-button>
    <ion-card> 
      <ion-item>
        <ion-icon name="clipboard-outline"></ion-icon>
        <ion-card-header>
          <ion-card-subtitle>Step 1</ion-card-subtitle>
          <ion-card-title>Define your Business</ion-card-title>
        </ion-card-header>
      </ion-item>
      <ion-card-content>
        To further assist you on your business venture, we need to know more about your business.
        <br><br>
        <ion-button fill="outline" slot="end" expand="block">Learn More</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-icon name="list-outline"></ion-icon>
        <ion-card-header>
          <ion-card-subtitle>Step 2</ion-card-subtitle>
          <ion-card-title>Lists of Requirements</ion-card-title>
        </ion-card-header>
      </ion-item>
    
      <ion-card-content>
        After defining your business, the next step is to determine and meet the different requirements to run the business.
        <br><br>
        <ion-button fill="outline" slot="end" expand="block">Learn More</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-icon name="documents-outline"></ion-icon>
        <ion-card-header>
          <ion-card-subtitle>Step 3</ion-card-subtitle>
          <ion-card-title>Passing of Requirements</ion-card-title>
        </ion-card-header>
      </ion-item>
    
      <ion-card-content>
        Once all of the required documents are acquired, the next step is to pass these documents to government agencies.
        <br><br>
        <ion-button fill="outline" slot="end" expand="block">Learn More</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-icon name="business-outline"></ion-icon>
        <ion-card-header>
          <ion-card-subtitle>Step 4</ion-card-subtitle>
          <ion-card-title>What's Next?</ion-card-title>
        </ion-card-header>
      </ion-item>
    
      <ion-card-content>
        Your venture doesn't end once your business is establish. There are more things that you should be aware of.
        <br><br>
        <ion-button fill="outline" slot="end" expand="block">Learn More</ion-button>
      </ion-card-content>
    </ion-card>
    <br>
    <br>
  </div>
</ion-content>
